body{
    background: url(/assets/img/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
.navbar{
    background: transparent !important;
    position: sticky;
    z-index: 100;
}

.navbar .navbar-brand{
    font-size: 2rem;
}

.card{
    background: #2e8b567c;
    color: white;
}

.card ul a{
   float: right;
   margin: 0 .3rem;
}

